<meta charset="utf-8" />
<title>{{ title }} | {{organization.name}} </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta content="{{ title }} | {{organization.name}}" name="description" />
<meta content="Abra" name="author" />

<!-- layout setup -->
<script type="module" src="/static/assets/js/layout-setup.js"></script>

{% if organization.favicon %}
<link rel="shortcut icon" href="{{organization.favicon.url}}" />
{% endif %}
<!-- App favicon -->