# Backend GraphQL endpoint (HTTP).
# Örn (yerel):   http://localhost:8000/graphql/
# Örn (prod):    https://infaktabirlik.com/graphql/
# Cihazdan test ederken localhost yerine makinenizin LAN IP'sini kullanın:
#                http://192.168.1.20:8000/graphql/
EXPO_PUBLIC_API_URL=http://localhost:8000/graphql/
